html, body {
  font-family:'Arvo', serif;
}

.divPadding {
  padding: 10px;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002248;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.content {
  text-align: center;
  padding: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #002248;
  font-family: 'Oswald', sans-serif;
}

footer {
  text-align: center;
  color: #d1d1d1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  padding: 5px;
  width: 800px;
  height: 600px;
}



